---
layout: null
---

html, body {
  min-height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "azo-sans-web",sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: black;
}

.test {
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.google-ads {
  margin-top: 150px;
  height: 150px;
  margin: 0 auto;
}

.page-content {
  text-align: center;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 5%;
}

{% include _css/beta.css %}

{% include _css/navbar.css %}
{% include _css/home.css %}
{% include _css/social.css %}
{% include _css/footer.css %}

{% include _css/blogpage.css %}

{% include _css/blog.css %}
{% include _css/archive.css %}

{% include _css/contact.css %}

div.blogShare {x
  width: 30%;
  margin: 0 auto;
  padding-bottom: 25px;
}

div.blogShare {
  display: inline;
}

div.blogShareInner {
  width: 30%;
  margin: 0 auto;
  padding-bottom: 25px;
}

i.blogShare {
  padding: 0;
  padding-top: 25px;
  margin: 0;
}

{% include _css/defaultpage.css %}
