<!--  TO-DO List for website development -->
<!-- beta overlay javascript -->
{% include _js/overlayToggle.js %}
<div class="overlay" id="overlay">
  <p class="x" id="overlay"><a href="javascript:void(0);" onclick="overlayToggle()">X</a></p>
  <div class="beta">
    <p class="beta">
      This site is under construction,
      please bear with us whilst we continue to improve the site.
    </p>
    <p class="beta">
      To view a current TO-DO list of the site,
      <a href="{{ site.url }}/beta/" class="beta">click here</a>.
    </p>
  </div>
</div>
