{% assign pageComments = site.comments | where: "post", page.title %}
{% assign numComments = pageComments | size %}

<div class="numComments">

  <h2><u>Comments</u></h2>

  {% if numComments == 0 %}
    <p  class="noComments">No Comments found! Start the discussion below!</p>
  {% elsif numComments > 0 %}
    <p> Join the discussion below!</p>
  {% endif %}

</div>

<div class="comments">
  {% for comments in pageComments %}
    <div class="commentThread">
      <h3 class="comments">
        {{ comments.poster }}
      </h3>
      <p class="commentDate"> on the
        {% assign c-date = comments.date | date: "%-d" %}
        {% case c-date %}
          {% when '1' or '21' or '31' %}{{ c-date }}st
          {% when '2' or '22' %}{{ c-date }}nd
          {% when '3' or '23' %}{{ c-date }}rd
          {% else %}{{ c-date }}th
        {% endcase %} of
        {{ comments.date | date: "%B" }}
        {{ comments.date | date: "%Y" }}, at {{ comments.time }} said:
      </p>
      <p class="commentContent">
        {{ comments.content }}
      </p>

      {% assign commentReply = site.comments | where: "postID", comments.id | sort: time %}

      <div class="commentReplys">
        {% for comments in commentReply %}
          <div class="singleReply">
            <h3 class="comments">
              {{ comments.poster }}
            </h3>
            <p class="commentDate"> on the
              {% assign c-date = comments.date | date: "%-d" %}
              {% case c-date %}
                {% when '1' or '21' or '31' %}{{ c-date }}st
                {% when '2' or '22' %}{{ c-date }}nd
                {% when '3' or '23' %}{{ c-date }}rd
                {% else %}{{ c-date }}th
              {% endcase %} of
              {{ comments.date | date: "%B" }}
              {{ comments.date | date: "%Y" }}, at {{ comments.time }} said:
            </p>
            <p class="replyContent">
              {{ comments.content }}
            </p>
          </div>
        {% endfor %}
      </div>

    </div>
  {% endfor %}
</div>

<hr>

<div class="sumbitComment">
  {% include submit-comment.html %}
</div>
