<div class="social-span">
  <div class="social-container">
    <a href="{{ site.youtube }}"><i class="fa fa-youtube-play fa-3x"></i></a>
    <a href="{{ site.twitter }}"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="{{ site.github }}"><i class="fa fa-github fa-3x"></i></a>
  </div>
</div>
<div class="footer">
  <p style="margin-top:0px;margin-bottom:0px;">&copy;2022 mljl.tech | <a href="{{ site.url }}/privacypolicy.htm">Privacy Policy</a> | <a href="{{ site.url }}/contact/">Contact Me</a>
</div>
