  <h3>Post a comment</h3>
  <p style="font-style: italic; font-size: 0.9em;">
    All comments are held for moderation; basic HTML or Markdown formatting accepted.
  </p>

    <form id="gform" method="POST" class="pure-form pure-form-stacked" class="comment"
    action="https://script.google.com/macros/s/AKfycbyi1FnB0I54txjYv9UXMWuHjT4ty-LG682beiZzbJe58nFL0Pc/exec">

      <input type="hidden" name="Reply ID" value="{{ postID }}"/>

      <table class="comment">
        <tr>
          <th>Name:</th>
          <td><input type="text" size="25" name="name" /> (required)</td>
        </tr>
        <tr>
          <th>E-mail:</th>
          <td><input type="text" size="25" name="email" /> (required, not published)</td>
          <span id="email-invalid" style="display:none">Must be a valid email address</span>
        </tr>
        <tr>
          <td colspan="2"><textarea name="message" rows="10" cols="60" ></textarea></td>
        </tr>
        <tr>
          <td><input type="submit" name="submit" value="Submit Reply" /></td>
        </tr>
      </table>

    </form>

  <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    <h2>Thank you for your comment! Your comment is queued for moderation. </h2>
  </div>
