<! DOCTYPE html>
<html>

  {% include head.html %}

  <title> About | MLJL </title>

  <body>

    {% include navbar.html %}

    <div class="page-content">
      <div class="inner-content">

        <h2>A little bit about me and what I do;</h2>

        <!-- About me -->
        <p>
          I am a 24 year old geek who currently lives in Rural Queensland. I
          am currently enrolled in Bachelor of Engineering (Computer Systems
          Engineering) with Honours & Bachelor of Information Technology (Applied
          Computer Science), studying this remotely/external at the University of
          Southern Queensland.
        </p>

        <!-- Work -->
        <p>
          Being that I am studying IT, I currently work as an IT Technician at a
          local Computer Store. The type of work I do there includes basic customer
          service and technical help as well as on-site contract work for a multitude
          of companies. The on-site work involves ATM Works, EFTPOS Installation &
          Maintainance and other Computer & Network Installations for various companies.
          I also tutor for the local schools and run a CAD Design freelance business designing
          Jewellery for a local Jewellers - you can see some of my designs here.
        </p>

        <!-- Hobbies -->
        <p>

        </p>

        <p>
          If you would like to know more, please feel free to <a href="/contact" class="blog-links">contact me</a>.
        </p>

      </div>
    </div>

</body>

  {% include footer.html %}

</html>
