<! DOCTYPE html>
<html>

  {% include head.html %}

  <title> About | micromatt.tech </title>

  <body>

    {% gtm body %}
    {% include navbar.html %}

    <div class="page-content">
      <div class="inner-content">

        <h2>A little bit about me and what I do;</h2>

        <!-- About me -->
        <p>
          I am a 21 year old geek who currently lives in Rural Queensland -
          recently moved from Adelaide to be closer to my Family. Prior to moving
          to Queensland, I was studying the Bachelor of Engineering (Computer and
          Network Science) with Honors at Finders University - the plan is to
          continue this study at a Queensland University for mid-year entry 2019.
        </p>

        <!-- Work -->
        <p>
          Being that I am still studying for my Bachelors I currently work as a
          Barista in a Local Bakery, I also do Freelance work on the side -
          including Website Design, Video Production and Tutoring. If you would
          like to know more, feel free to

          <a href="/contact" class="blog-links">contact me</a>.
        </p>

        <!-- Hobbies -->
        <p>

        </p>

      </div>
    </div>

</body>

  {% include social-media-highlight.html %}

  {% include footer.html %}

</html>
