<! DOCTYPE html>
<html>

<head>

  {% include head.html %}

  <title> Home | micromatt.tech </title>
</head>

<body onload="checkOverlayCookie()">
  {% gtm body %}
  {% include beta-overlay.html %}
  <div>
    <div>

      <!- Parallax image && Logo ->
      <div class="hero-image" id="hero-image">
        <div class="home-nav home-title"><a href="/" class="home-nav">microMatt<a></div>
        <div>
          <ul class="home-nav-links">
            <li class="home-nav-links"><a href="{{ site.url }}/blog/" class="home-nav-links">Blog</a></li>
            <li class="home-nav-links home-nav-spacer"> | </li>
            <li class="home-nav-links"><a href="{{ site.url }}/projects/" class="home-nav-links">Projects</a></li>
            <li class="home-nav-links home-nav-spacer"> | </li>
            <li class="home-nav-links"><a href="{{ site.url }}/about/" class="home-nav-links">About</a></li>
            <li class="home-nav-links home-nav-spacer"> | </li>
            <li class="home-nav-links"><a href="{{ site.url }}/contact/" class="home-nav-links">Contact</a></li>
          </ul>
        </div>

        <img src="{{ site.url }}/assets/circlelogo.png" class="logo-image" alt="micromatt.tech logo"></p>
      </div>

      <!- Dynamic recent activity on blog ->
      <div class="home-content">
        <div class="blog-content-home">
          <div class="recent-post">
            <h1 class="recent-post">Recent Blog Activity: </h1>
            <div>
              {% assign post = site.posts.first %}
              {% assign post_content = post.content %}
              {% assign post_wordCount = post.content | number_of_words %}
              <h2>
                {% if post.title %}
                <a href="{{ root_url }}{{ post.url }}" class="blog-title-home">{{ post.title }}</a>
                {% endif %}
              </h2>
              <div class="recent-blog-content">
                <div class="entry-content">{{ post_content | excerpt | truncatewords: 120 }}</div>
                <a class="btn btn-default" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
                {% if post_wordCount > 120 %}
                <p class="continue"><a href="{{ toor_url }}{{ post.url }}" class="continue">Continue Reading...</a></p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="all-posts">
            <h1 class="all-posts"><a href="{{ site.url }}/archive/">All Posts: </a></h1>
            {% for post in site.posts limit:5 offset:1 %}
            <h3 class="all-posts"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {% endfor %}
            <hr>
            <h3 class="all-posts"><a href="{{ site.url }}/archive/">Post Archive</a></h3>
          </div>
        </div>

        <hr class="home-page">

        <!- Dynamic recent projects activity ->
        <div class="blog-content-home">
          <div class="recent-post">
            <h1 class="recent-post">Recent Project Activity: </h1>
            <div>
              {% assign project = site.projects.first %}
              {% assign project_content = project.content %}
              {% assign project_wordCount = project.content | number_of_words %}
              <h2>
                {% if project.projectName %}
                <a href="{{ root_url }}{{ project.url }}" class="blog-title-home">{{ project.projectName }}</a>
                {% endif %}
              </h2>
              <div class="recent-blog-content">
                {% if project_wordCount < 120 %} <div class="entry-content">{{ project_content | split:'<!-- break -->' | first }}</div>
              <a class="btn btn-default" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
              <p class="continue"><a href="{{ toor_url }}{{ project.url }}" class="continue">Continue to Project...</a></p>
              {% else %}
              <div class="entry-content">{{ project_content | excerpt | truncatewords: 120 }}</div>
              <a class="btn btn-default" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
              <p class="continue"><a href="{{ toor_url }}{{ project.url }}" class="continue">Continue to Project...</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="all-posts">
          <h1 class="all-posts"><a href="{{ site.url }}/projects/">All Projects: </a></h1>
          {% assign other_projects = site.projects | where: "introPage", true %}
          {% for post in other_projects limit:5 %}
          <h3 class="all-posts"><a href="{{ post.url }}">{{ post.projectName }}</a></h3>
          {% endfor %}
          <hr>
          <h3 class="all-posts"><a href="{{ site.url }}/projects/">All Projects</a></h3>
        </div>
      </div>
    </div>

    <div style="height: 50%"></div>


    {% include social-media-highlight.html %}

    {% include footer.html %}

  </div>
</body>

</html>
