<! DOCTYPE html>
<html>
  <head>
    {% include head.html %}

    <script>
      {% include _js/github-calendar.min.js %}
    </script>

  </head>
  <body>

    {% include navbar.html %}

    <div class="page-content">
      <h1> Projects </h1>

      <div class="calendar">
        Loading github contributions
      </div>


      <!-- Found from https://github.com/Bloggify/github-calendar -->
      <script>
        GitHubCalendar(".calendar", "Chuffs", { responsive: true, tooltips: true });
      </script>

      <h2> What I have been working on:</h2>

      {% assign projects = site.projects | where: "introPage", true %}
      {% assign numProjects = projects | size %}

      <p> These are all the projects that I have either completed or are in progress, there are {{ numProjects }}</p>

      {% for page in projects %}
        <div class="project">
          <a href="{{ site.url }}{{ page.url }}">
            <img src="{{ site.url }}/assets/projects/{{ page.projectName }}.jpg" width="400" height="300">
          </a>
          <div class="desc">{{ page.description }}</div>
        </div>
      {% endfor %}


    </div>
    {% include social-media-highlight.html %}

    {% include footer.html %}
  </body>
</html>
