<! DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% gtm body %}

    {% include navbar.html %}

    <div class="page-content">
      <h1> My Projects Page </h1>

      {% assign projects = site.projects | where: "introPage", true %}
      {% assign numProjects = projects | size %}

      <p> These are all the projects that I have either completed or are in progress, there are {{ numProjects }}</p>

      {% for page in projects %}
        <div class="project">
          <a href="{{ site.url }}{{ page.url }}">
            <img src="{{ site.url }}/assets/projects/{{ page.projectName }}.jpg" width="400" height="300">
          </a>
          <div class="desc">{{ page.description }}</div>
        </div>
      {% endfor %}


    </div>
    {% include social-media-highlight.html %}

    {% include footer.html %}
  </body>
</html>
