h4.archiveCount {
  display: inline;
}

h5.archiveViewActive {
  display: inline;
  padding-left: 2%;
  color: #{{ site.micromatt-blue }}
}

ul.archiveYear {
  list-style-type: none;
}

span.archiveDate {
  color: black;
}

span.archiveDate {
  font-weight: normal;
}

a.archiveLink {
  color: #{{ site.micromatt-blue }}
}

a.archiveLink:hover {
  font-weight: bold;
  color: black;
}

div.archivePosts {
  text-align: left;
}

span.commentShow {
  display: block;
  padding-left: 5%;
}
