.blog-content {
  padding-top: 125px;
  padding-bottom: 200px;

  max-width: 1100px;
  width: auto;

  margin: 0 auto;

  text-align: center;
}

.blog-title {
  text-align: left;
}

.blog-date {
  text-align: left;
  font-size: 0.75em;
  padding-left: 5%;
  margin-top: -1em;
}

.blog-post {
  width: 75%;
  text-align: left;
  padding-left: 15%;
}

div.blog-post img {
  width: 65%;
  max-width: 750px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.blog-links {
  font-style: italic;
  color: #{{ site.micromatt-blue }}
}
a.blog-links:hover {
  font-weight: bold;
}

.pagination {
  padding-bottom: 10%;
}

div.blog-content a{
  text-decoration: italic;
}

table.comment {
  margin: auto;
  width: 50%;
  padding: 10px;
  resize: none;
}

table textarea {
  width: 100%;
  resize: none;
}

/* comment section styling */
div.numComments {
  padding-top: 5%;
}

p.noComments {
  padding-bottom: 5%;
}

div.comments {
  text-align: left;
  padding-left: 15%;
}

div.commentThread {
  padding: 25px;
}

h3.comments {
  display: inline;
}

p.commentDate {
  display: inline;
  font-size: 0.75em;
}

p.commentContent {
  padding-left: 5%;
}

div.commentReplys {
  margin-left: 5%;
  border-left: 1px solid black;
}

div.singleReply {
  padding-left: 5%;
}

p.replyContent {
  padding-left: 5%;
}

h3.postComment {
  padding-top: 5%;
}

#email-invalid {
  color: red;
}

td.commentForm {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

span.caption {
  display: block;
  text-align: center;

  font-style: italic;
}
