span.blogTitle {
  display: block;
}

span.blogComments {
  display: block;
}

div.blogContentOuter {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

div.blogContentOuter img {
  width: 75%;
  max-width: 750px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.totalPosts {
  padding-top: 50px;
}
