div.contactParagraph {
  padding-bottom: 25px;
}

a.contactEmail {
  font-style: italic;
  color: #{{ site.micromatt-blue }}
}

a.contactEmail:hover {
  font-weight: bold;
}

div.contactForm {
  text-align: center;
  margin: 0 auto;
}
