.footer {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
  background: #333;
  padding-bottom: 5px;
  font-family: "bungee", sans-serif;
  color: #cccccc;
  font-size: 1em;
  text-align: center;
}

div.footer p {
  color: #cccccc;
  background: #333;
}

div.footer a {
  color: #cccccc;
  background: #333;
}
