/* navbar */
.home-nav {
  text-align: center;
  font-family: "bungee", sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.home-title {
  font-size: 5em;
  text-align: center;

  margin: 0 auto;
}

@media screen and (max-width : 620px) {
  .home-title {
    font-size: 3.5em;
  }
}

.home-nav p {
    font-size: 5em;
}

ul.home-nav-links {
  list-style-type: none;

  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    padding-top: -50px;
}

li.home-nav-links {
  color: white;
  font-family: "bungee", sans-serif;
  display: inline;
}

li.home-nav-spacer {
  padding-left: 10px;
  padding-right: 10px;
}

a.home-nav-links {
  color: white;
  font-family: "bungee", sans-serif;
}

/* Cover Image and Logo */
.hero-image {
  top: 0;
  background-image: url("../assets/heatsink.JPG");
  z-index: 0;
  height: 125%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-image {
  max-width: 45%;
  height: auto;
  width: auto/9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

/* website sections */
.span-grey {
  height: 100%;
  background-color: #d3d3d3;
}

.home-content {
  padding-top: 125px;
  padding-bottom: 200px;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}

/* recent blog posts */
.blog-content-home {
  max-width: 1100px;
  margin: 0 auto;
  height: 50%;
  padding-bottom: 50px;
}

.blog-title-home {
  text-decoration: none;
  font-style: normal;
  color: black;
}

p.continue {
  text-align: center;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  div.recent-post {
    padding-left: 5%;
    padding-right: 5%;
    width: 59%;
    display: inline;
    float: left;
  }

  div.recent-post div {
    padding-left: 15px;
  }

  div.all-posts {
    font-size: 0.9em;
    margin-top: 7%;
    width: 30%;
    display: inline;
    float: right;
  }

  h3.all-posts {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1023px) {
  div.recent-post {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    max-width: 960px;
  }

  div.recent-post div {
    padding-left: 15px;
  }

  div.all-posts {
    display: none;
  }
}

hr.home-page {
  max-width: 1100px
}

@media screen and (min-width : 621px) {
  .blog-content-home {
    padding-bottom: 125px;
  }
}

/* smaller than 620px */
@media screen and (max-width : 620px) {
  .blog-content-home {
    padding-bottom: 250px;
  }
}
